@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
.quick-body {
  background :white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#header {
  margin: 20px;
}
#header > h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
#header > p {
  text-align: center;
  font-size: 1.5rem;
  font-style: bold;
  font-style: italic;
}
.quick-con {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
}
.quick-quick {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 60px;
}
.quick-quick > div {
  border-radius: 4px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}
.quick-image {
  border-radius: 4px;
  background-color: #ffffffd8;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.569);
  width: 400px;
  height: 250px;
}
.quick-image-1 {
  border-radius: 4px;
  background-color: #ffffffd8;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.569);
  width: 400px;
  height: 250px;
}
.quick-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 4px;
}
.quick-text-7 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #1676e387;
  color: #050505;
  padding: 20px;
}
.quick-advice-type {
  font-style: italic;
}
h2.quick-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
.quick-body-2 {
  font-size: 1rem;
  padding-top: 20px;
}
.quick-button {
  width: 100px;
  height: 60px;
  background-color: #0d0101;
  color: #fff;
  margin-left: auto;
  font-size: 1rem;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.quick-text-1 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #f2fafdf1;
  color: #050505;
  padding: 15px;
  align-items: center;
}
.quick-text-2 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #2d69d8e1;
  color: #050505;
  padding: 10px;
  align-items: center;
}
.quick-text-3 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #7a9219ba;
  color: #050505;
  padding: 20px;
  align-items: center;
}
.quick-text-4 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: white;
  color: #050505;
  padding: 20px;
  align-items: center;
}
.quick-text-5 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #341591b7;
  color: #050505;
  padding: 20px;
  align-items: center;
}
.quick-text-6 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #7a9219ba;
  color: #050505;
  padding: 20px;
  align-items: center;
}
.quick-text-7 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #23ab3eb8;
  color: #050505;
  padding: 20px;
  align-items: center;
}
.quick-text-8 {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 300px;
  width: 300px;
  background-color: #b96826bc;
  color: #050505;
  padding: 20px;
  align-items: center;
}
.quick-body-main {
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* recipe app */

.container-rec {
  background-color: #ffffff;
  font-size: 16px;
  padding: 3em 2.8em;
  width: 90vw;
  max-width: 32em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 4px;
}
.search-container-rec {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}
.search-container-rec input {
  font-size: 1em;
  padding: 0.6em;
  border: none;
  outline: none;
  border-bottom: 2px solid #202030;
}
.search-container-rec button {
  font-size: 1em;
  background-color: #f4c531;
  border: none;
  font-weight: 600;
  border-radius: 4px;
}
img {
  display: block;
  width: 50%;
}
.details {
  background-color: #f4c531;
  position: relative;
  margin: -4.3em 0 0 0;
  text-align: center;
  padding: 0.6em 0;
}
.details h2 {
  font-size: 1.2em;
  font-weight: 600;
}
.details h4 {
  font-size: 1em;
  font-weight: 400;
}
#show-recipe {
  font-size: 1em;
  position: relative;
  left: 75%;
  padding: 0.9em 0.6em;
  background-color: #f4c531;
  border: none;
  top: 1.5em;
  border-radius: 0.3em;
  font-weight: 600;
}
#recipe {
  position: absolute;
  background-color: #ffffff;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0.6em;
  display: none;
}
#recipe pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 2.5em 1.2em 1.2em 1.2em;
  font-size: 0.92em;
  color: #303040;
}
#hide-recipe {
  font-size: 1em;
  position: relative;
  width: 1.8em;
  height: 1.8em;
  background-color: #f4c531;
  border: none;
  top: 1.2em;
  left: 90%;
  border-radius: 0.3em;
}
ul {
  font-size: 1em;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.8em 1.1em;
  padding: 1.2em 0 0 1.2em;
  color: #303040;
  text-transform: capitalize;
}
h3 {
  text-align: center;
  margin-top: 1.8em;
  color: #202030;
}
@media screen and (max-width: 500px) {
  .container-rec {
    font-size: 14px;
  }
}
.btn-custom {
  height: 40px; /* Adjust the height as needed */
  margin-bottom: 20px; /* Adjust the bottom margin as needed */
  margin-right: 130px;
  width: 90px;
}