<!DOCTYPE html>
{% extends "layoutuser.html" %} <!-- Extends the 'layout.html' template -->

{% block content %} <!-- Defines a block named 'content' -->

<main class="main-content">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }} <!-- Password label -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}    <!-- Password field with error class -->
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}   <!-- Error message for the password field -->
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}   <!-- Remember me checkbox -->
                        {{ form.remember.label(class="form-check-label") }} <!-- Remember me checkbox -->
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }} <!-- Submit button -->
            </div>
            <div>
                <small class="text-muted mt-2">Forgot password</small> <!-- Forgot password link -->
                <a href="mailto:tahlahbee.institute@gmail.com">Send Message</a> <!-- Link to send a message -->
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Want to Join ? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>  <!-- Link to the register page -->
        </small>
    </div>
</main>

{% endblock content %} <!-- Ends the 'content' block -->
