<!DOCTYPE html>
{% extends "layout.html" %} <!-- Extends the 'layout.html' template -->
{% block content %} <!-- Defines a block named 'content' -->
<div class="spotify-container">
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/0ofXAdFIQQRsCYj9754UFx?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
{% endblock content %} <!-- Ends the 'content' block -->
