<!DOCTYPE html>
{% extends "layoutbase.html" %} <!-- Extends the 'layout.html' template -->
{% block content %} <!-- Defines a block named 'content' -->

<section>
</div>
<div id="about">
<div class="container">
  <h1 class="text-center aboutHeading">About Tahlahbee</h1>
  <p class="aboutPG text-center">Hi! there im Tahlahbee I am a junior Developer please take a look at my other projects and work <strong>Enjoy!</strong> </p>
</div>
</div>
<!--Projects Section - Add your websites to the cards - You can add more as a Bootstrap Deck-->
<div id="projects">
<div class="container">
  <h1 class="text-center">My Projects</h1>
  <div class="row pt-5 m-auto" id="projectCards">
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <!--Enter Project Logo/Favicon here-->
        <div class="card-custom-img" id="project1"></div>
<a href="#" target="_blank" class="grow">
  <div class="card-custom-avatar">
    <video class="img-fluid" controls>
      <source src="{{ url_for('static', filename='img/4rmendz.mp4') }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</a>
        <div class="card-body" style="overflow-y: auto">
          <h4 class="card-title">4rmendz advertising</h4>
            <p class="card-text">4rmendz is a video creative collective that specializes in producing music videos and advertisements. <br>With a team of talented individuals, they bring artistic vision and technical expertise to create visually stunning and engaging content. Whether it's capturing the essence of a song through captivating visuals or crafting compelling narratives for brands, 4rmendz delivers high-quality and impactful videos that leave a lasting impression.</p>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit;">
          <a href="mailto:tahlahbee.institute@gmail.com" class="btn btn-outline-primary">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <!--Enter Project here-->
        <div class="card-custom-img" id="project2"></div>
        <a href="#" target="_blank" class="grow">
          <div class="card-custom-avatar">
            <img class="img-fluid" src="{{ url_for('static', filename='img/fromdaddy.png') }}" alt="from daddy" />
          </div>
        </a>
        <div class="card-body" style="overflow-y: auto">
          <h4 class="card-title">From daddy clothing</h4>
          <p class="card-text">From Daddy helps incarcerated fathers stay connected with their children by enabling them to design and purchase personalized clothing, <br>fostering emotional bonds and support even while in prison.</p>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit;">
          <a href="mailto:tahlahbee.institute@gmail.com" class="btn btn-outline-primary">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <!--Enter Project here-->
        <div class="card-custom-img" id="portfolio"></div>
        <a href="#">
          <div class="card-custom-avatar">
            <img class="img-fluid" src="{{ url_for('static', filename='img/orchidos.png') }}" alt="orchidos" />
          </div>
        </a>
        <div class="card-body" style="overflow-y: auto">
          <h4 class="card-title">OrchidOs Custom Rom</h4>
          <p class="card-text">OrchidOs is a custom ROM that offers a high level of customization and freedom for Android users.<br> With OrchidOs, you can personalize your device's appearance, optimize performance, and access advanced features not available in the stock Android operating system. It provides a seamless and user-friendly experience, allowing you to tailor your device to your preferences and enhance your overall Android experience.</p>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit;">
          <a href="https://jaymestalabistudent.github.io/OrchidOs/info.html" class="btn btn-outline-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!--Very Basic footer section - TODO : Adding Social Media links here would be ideal-->
<footer class="footer">
<div class="container text-center">
  <span class="footer-text">Copyright <strong>©OrchidOs</strong>| All Rights Reserved</span>
</div>
</footer>
{% endblock content %} <!-- Ends the 'content' block -->
