<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Basic HTML metadata and Open Graph metadata for social media sharing -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta property="og:title" content="tahlahbee blog" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://github.com/jaymestalabistudent/tahlahbee-institute-project.github.io/blob/frontend-development/assets/img/logo/logo.png"
    />
    <meta
      name="description"
      content="Tahlahbee Institute is a dedicated self-help website for single fathers, offering a wide range of eBooks, advice courses, and inspirational quotes to support and empower single dads on their journey"
    />
    <meta
      name="keywords"
      content="blog for single fathers, self-help, eBooks, advice courses, inspirational quotes, single dads, parenting, fatherhood, support for fathers, empowerment for dads"
    />
    <meta name="author" content="Tahlahbee Institute" />
    <meta
      name="subject"
      content="Free Self-Help and Advice eBooks for fathers"
    />
    <meta name="language" content="EN" />
    <meta name="rating" content="General" />
    <meta name="distribution" content="Global" />
    <meta name="coverage" content="Worldwide" />
    <meta name="revisit-after" content="7 days" />
    <meta name="expires" content="never" />
    <meta name="resource-type" content="document" />
    <meta name="audience" content="all" />
    <meta name="copyright" content="© 2024 OrchidOs. All rights reserved." />
    <meta name="category" content="Blog site" />
    <meta name="designer" content="the projects" />
    <!-- Linking to external stylesheets -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://kit.fontawesome.com/afc3937dbc.js" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    />
    {% if title %}
    <title>{{ title }} - tahlahbee-institute</title>
    {% else %}
    <title>home</title>
    {% endif %} {% endblock %}
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img
            src="../assets/img/logo/logo.png"
            alt="logo"
            class="navbar-logo"
          />
          <span class="navbar-title ms-2 tracking-in-expand"
            >Tahlahbee Institute</span
          >
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="spotify.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../quicklinks.html">Back</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Heading block -->
    <div id="heading">
      {% block header %}
      <h1>Home</h1>
      {% endblock %}
    </div>
    <!-- Main section block -->

    <div id="content">{% block content %}    <div class="spotify-container">
      <iframe
        title="spotify"
        class="spotify-embed"
        src="https://open.spotify.com/embed/episode/2pxdMJSi6l0d0K9DHms7lw?utm_source=generator"
        frameborder="0"
        allow="encrypted-media"
      ></iframe>
    </div>{% endblock %}</div>

    <!-- Footer section block -->
    <div id="footer">
      {% block footer %} &copy; Copyright 2024 by Tahlahbee Institute. {%
      endblock %}
    </div>
    <!-- Linking to external JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
