<!DOCTYPE html>
<html lang="en">

    <!-- Header section block -->
    <header
      class="u-box-shadow u-clearfix u-grey-15 u-header u-header"
      id="sec-1806"
    >
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="#">
            <img
              src="{{ url_for('static', filename='img/logo/logo.png') }}"
              alt="logo"
              class="navbar-logo"
            />
            <span class="navbar-title ms-2">Tahlahbee Institute</span>
          </a>
        </div>
      </nav>
    </header>
    <!-- End of Header section block -->
</html>
